{% extends "base.html" %}
{% block content %}
<div class="max-w-2xl mx-auto bg-gray-900 p-8 rounded shadow-lg border border-green-400">
    <h2 class="text-3xl font-bold mb-6 neon-text text-center">dashboard</h2>
    <div class="grid grid-cols-2 gap-4 mb-6">
        <div class="p-4 bg-gray-800 rounded border border-green-400 text-center">
            <p class="text-green-400 font-semibold">Balance</p>
            <p class="text-2xl text-green-300">₹{{ account.balance }}</p>
        </div>
        <div class="p-4 bg-gray-800 rounded border border-green-400 text-center">
            <p class="text-green-400 font-semibold">Transactions</p>
            <a href="/history" class="text-green-300 hover:text-green-100">view All</a>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <a href="/deposit" class="neon-btn py-2 rounded text-center">deposit</a>
        <a href="/withdraw" class="neon-btn py-2 rounded text-center">withdraw</a>
        <a href="/transfer" class="neon-btn py-2 rounded text-center">transfer</a>
    </div>
</div>
{% endblock %}
